<!DOCTYPE html>
<html lang="en">
<head><!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Products</title>
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/cart.css">
    </head>
    <body>
        <%-  include ../partial/navigation.ejs %>
                 <div class="div_payment">
                       <span>Total Payment: </span><span>$<%=total%></span>
                        <button class="proceed-btn">Proceed for Payment</button>
                 </div>
            <main class="main-container">
                    
                <%  if(products.length > 0) { %>
                     
                 <div class="grid">
                     <% for(var i=0 ; i<products.length ; i++){  %>
                     <article>   
                           <div class="product-image">
                               <img src=<%= products[i].imageUrl  %> alt="<%=  products[i].title  %>">
                           </div>
                           <div class="product-header">
                                <h1><%= products[i].title  %></h1>
                           </div>
                           <div class="product-price">
                                <h1>$<%= products[i].price  %></h1>
                           </div>
                           <div class="product-description">
                                <h3><%= products[i].description  %></h3>
                           </div>
                           <div class="quantity">
                              <span>quantity: <%= products[i].quantity  %></span>
                           </div>
                           <div class="remove-segment">
                              <form action="/cart/remove-item" method="POST">
                                  <input type="hidden" name="prodId" value=<%= products[i]._id %>>
                                  <button type="submit" class="remove-btn">
                                        Remove From Cart
                                  </button>
                              </form>
                           </div>
                     </article>
                    
                     <% } %>
                 </div>
                 <% }  else {  %>
                   <h1 class="header-1">No Products in the cart !</h1>
                 <%  }  %>
             </main>
    </body>
    </html>
   