<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= product.title  %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product-detail.css">
    <link rel="stylesheet" href="/css/navigate.css">
</head>
<body>
    <%-  include ../partial/navigation.ejs %>
        <main class="center">
            <h1><%=  product.title  %></h1>
            <hr>
            <img src="<%=  product.imageUrl  %>" alt= <%=  product.title  %>>
            <h2>$<%= product.price   %></h2>
            <p><%= product.description  %></p>
        </main> 
        <script src="/js/effect.js">
        </script>
</body>
</html>