<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/product-list.css">
</head>
<body>
    <%-  include ../partial/navigation.ejs %>
    <main>
            <% if(products.length> 0) { %>
              
              <div class="grid">
                    <% for(var i=0 ; i<products.length ; i++) { %>
               <article class="card product-item">
                   <header class="card-header">
                       <h1 class="product-title"> <%= products[i].title %></h1>
                   </header>
                   <div class="card-image">
                       <img src=<%= products[i].imageUrl  %> alt="myimage">
                   </div>
                   <div class="card-content">
                       <h2 class="product-price">
                           $<%= products[i].price  %>
                       </h2>
                       <p class="product-description">
                            <%= products[i].description  %>
                       </p>
                   </div>
                   <div class="card-actions">
                          <a href="/products/detail/<%= products[i]._id  %>" class="detail_link">Detail</a>
                          <form action="/cart" method="POST">
                            <input type="hidden" name="productId" value="<%= products[i]._id %>">
                            <button type="submit" class="btn">
                                    Add to cart
                            </button>
                         </form> 
                   </div>
               </article>
               <% } %>
           </div>
           <% } else { %>
                <h1 class="center">No Products Found</h1>          
            <%} %>
          </main>
</body>
</html>