<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= product.title  %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product-detail.css">
</head>
<body>
        <%- include ../partial/navigation.ejs %>
        <main class="center">
               <div class="img">
                    <img src=<%= product.imageUrl %> alt= <%=  product.title  %>>
               </div>
               <div class="content">
                    <h1><%=  product.title  %></h1>
                    <h2>$<%= product.price   %></h2>
                    <p><%= product.description  %></p>
               </div>
               
          
        </main> 
</body>
</html>